$background: #fff;
$background-dark: #0f0e17;

$background-secondary: #ff8906;

$background-input: #FEFEFE;


$stroke: black;
$foreground: #2e2f3e;
$foreground-dark: #a7a9be;

$foreground-strong: #0f0e17;
$foreground-strong-dark: #fffffe;

$highlight: #ff8906;
$highlight-semitransparent: #ff8b0633;

